.connections-list{
    width: 750px;
    border-radius: 15px !important; /* not working */
}

.message-btn{
    right: 95px;
    top: 30px;
    position: absolute;
    border-radius: 50px !important;
    color: #2073C9 !important;
    background-color: white !important;
    padding: 2px !important;
    width: 90px;
    border: 1px solid #2073C9;
    font-weight: 500;
}
.message-btn:hover{
    background-color: #EAF4FE !important;
    border-width: 2px;
    transition: ease-in-out 0.5s;
    text-decoration: none !important;
}
.avatar-col .MuiAvatar-root{
    width: 50px;
    height: 50px;
    line-height: 1;
}
.info-col{
    margin-left: 20px;
}
.name-col{
    color: #2073C9;
    font-weight: 600;
    font-size: 15px;
}
.title-col{
    font-size: 14px;
}
.area-col{
    font-size: 13px;
    margin-bottom: 0px !important;
}
.results{
    margin-bottom: 0px!important;
}
.container-conn{
    padding-top: 15px;
}
.connections-navbar{
    height: 60px;
    box-shadow: -3px 1px 13px 2px #0000004d;
    top:-8px !important;
}
.connections-navbar .navbar-collapse .navbar-nav .nav-item a{
    font-size: 15px;
    font-weight: 500;
    flex-direction: initial;
}
.connections-navbar .navbar-collapse .navbar-nav .nav-link{
    font-size: 15px;
    font-weight: 500;
    flex-direction: initial;
}
#number-nav-dropdown{
    border: 2px solid #057642;
    border-radius: 50px;
    background-color: #057642;
    color: white;
    width: 65px;
}
#company-nav-dropdown{
    border: 1px solid rgba(104, 104, 104, 0.692);
    border-radius: 50px;
    background-color: white;
    width: 160px; 
}

#location-nav-dropdown{
    border: 1px solid rgba(104, 104, 104, 0.692);
    border-radius: 50px;
    background-color: white;
    width: 120px; 
}

