.dropdown-btn .dropdown-toggle::after {
    display:none;
}
.dropdown-basic{
    background-color: none !important; 
}
.btn-primary.focus,
.btn-primary:focus{
    background-color: none !important; 
    border-color: none !important;
}
.bg-success{
    background-color: none !important;
}
.dropdown-btn .dropdown-menu{
    height: auto !important;
    width: 380px !important;
    overflow-y: hidden !important;
    padding: 0.6rem 0.5rem !important;
}
.dropdown-btn .dropdown-menu a:hover{
    text-decoration: none;
    background-color:#dbe0e5 !important;
}
.dropdown-btn .dropdown-menu .dropdown-item p{
    margin-top: 0px !important;
    margin-left: 25px !important;
}
.dropdown-btn .dropdown-menu .dropdown-item{
    white-space: inherit !important;
    padding: 0.6rem 0.5rem !important;
    color: rgb(25, 25, 25) !important;
}
.dropdown-btn .btn.focus,
.dropdown-btn .btn:focus{
    box-shadow: none !important;
}