@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --blue-primary: rgb(12, 102, 194);
  --border-color: #e0e0de;
  --button-grey-text-color: #7f7f7f;
  --hover-blue: rgb(233, 243, 253);
}

.people-card-container {
  border-radius: 15px;
  width: 25rem;
  overflow: hidden;
}

.people-card-container .MuiButtonBase-root {
  color: var(--blue-primary);
  text-decoration: none;
}

.people-card-container .MuiButtonBase-root:hover {
  background-color: var(--hover-blue);
  text-decoration: none !important;
}

/* .card-profile-images {
  width: 75px;
  height: 75px;
  object-fit: cover;
} */

.people-card-container .MuiListItem-root img.avatar-image {
  width: 75px !important;
  height: 75px !important;
  object-fit: contain;
}

.people-card-container svg {
  background-color: white;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid;
  border-color: var(--border-color);
  color: grey;
  font-size: 20px;
  width: 2em;
  height: 2em;
}

.show-more-list-link svg {
  border: none;
  width: 1em;
  height: 1em;
}
