.profileTopBar {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 22;
  width: 100vw;
  padding: 5px 6% 0px;
  border: 1px solid var(--border-color);
  display: flex;
}

.profileTopBar__img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.profileTopBar__img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.profileTopBar p {
  margin-top: -10px;
}
.profileTopBar h6 {
  margin-top: 5px;
}
